/* Auth.css */

.auth-form {
  max-width: 300px;
  margin: 4rem auto;
  padding: 3rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-form input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #f9f9f9;
}

.auth-form input:focus {
  outline: none;
  border-color: #4a90e2;
  background-color: #fff;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.auth-form button {
  background-color:#444;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: auto;
  max-width: 200px;
}

.auth-form button:hover {
  background-color: #3a7cd4;
}

.auth-form p {
  text-align: center;
  margin-top: 1rem;
}

.auth-form a {
  color: #4a90e2;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}
